@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif 
} */

body {
  background: #272838;
  /* background: repeating-linear-gradient(
    35deg,
    hsl(236, 18%, 19%) 0px 2px,
    hsl(270, 18%, 27%) 0px 4px
  ); */
  color: #F2E9E4;
  height: 100%;
}

main {
  display: flex;
  justify-content: center;
  width: 75%;
  height: 100%;
}

aside {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 25%;
  border-right-width: .25em;
  border-right-color: #443850;
}

h1 {
  color: #4C86A8;
  justify-self: center;
  display: flex;
  font-weight: bold;
  font-size: 5em;
  text-transform: uppercase;
  font-family: Trocchi;
}
